.appeal {
  margin: 0 auto;
}
.appeal .header {
  font-size: 32px;
}
.appeal .header a {
  color: #7289da;
  text-decoration: none;
}
.appeal .textarea {
  padding: 5px;
  color: #fff;
  background: #23272a;
  border: 1.5px solid #7289da;
  width: 450px;
}
@media only screen and (max-width: 786px) {
  .appeal .textarea {
    width: 98%;
  }
}
.appeal label {
  display: block;
}
.appeal section {
  margin: 22px 0;
  max-width: 650px;
}
@media only screen and (max-width: 786px) {
  .appeal section {
    width: 98%;
  }
}
